<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>갤러리 접근</string>
	<key>UIAppFonts</key>
	<array>
		<string>SigmarOne-Regular.ttf</string>
		<string></string>
	</array>
</dict>
</plist>
